/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS variables */
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 /20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;

  --navigation-background: #b2ac88;
  --dropdown-background: #9faace;
  --dropdown-hover: #cdcdcd;
}

/* =========== SCROLL BAR =========== */
::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/* =========== MAIN CSS =========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--body-bg-color);
}

section {
  position: relative;
}

/* .section:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--white-color));
} */

/* =========== HEADER =========== */
header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}

header.sticky {
  height: calc(2.5rem + 1rem);
  /* background: rgba(255, 255, 255, 0, 1);
  backdrop-filter: blur(20px); */
  background-color: var(--navigation-background);
  border-bottom: 1px solid var(--white-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0, 1);
}

header .nav-bar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  transition: 0.3s ease;
}

/* =========== NAVIGATION =========== */

.nav-close-btn,
.nav-menu-btn {
  display: none;
}

.nav-bar .logo {
  color: var(--white-color);
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a {
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a i {
  display: none;
}

.navigation .nav-items a:not(:last-child) {
  margin-right: 45px;
}

.navigation .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navigation .nav-items a, */
/* .navigation .nav-items .dropdown { */
/* margin: 0 10px; Adjust spacing between items as needed */
/* } */

/* =========== DROPDOWN =========== */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* margin-top: 10px; */
  background-color: var(--dropdown-background);
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown > a {
  display: block;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
}

.dropdown > a > i.uil-angle-down {
  margin-left: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--dropdown-hover);
}

/* MAIN PAGE */
.main-page {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main-page.overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.main-page video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure video stays behind other content */
}

.main-page:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(transparent, var(--section-bg-color)); */
  background: linear-gradient(transparent, var(--white-color));
}

/* =========== HOME =========== */
.home {
  min-height: 100vh;
}

.home:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--white-color));
}

.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content {
  position: absolute;
  top: 25%;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease;
}

.swiper-slide .text-content .title {
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
  font-size: 0.3em;
  font-weight: 300;
}

.swiper-slide .text-content p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0, 1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0, 1);
  border-right: 1px solid rgba(255, 255, 255, 0, 1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
  transform: translateX(5px);
}

.dark-layer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
.thumbs-container {
  background: rgba(255, 255, 255, 0, 1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0, 1);
  border-right: 1px solid rgba(255, 255, 255, 0, 1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}

/* Media Icons */
.media-icons {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
}

.media-icons a {
  color: var(--white-color);
  font-size: 1.7em;
  margin: 10px 0;
}

/* =========== ABOUT SECTION =========== */
.section.about {
  /* color: var(--white-color);
    background: var(--section-bg-color); */
  color: var(--dark-color);
  background: var(--white-color);
  padding: 35px 300px;
  transition: 0.3s ease;
}

.about h2 {
  font-size: 2.3em;
  font-weight: 400;
  text-align: right;
}

.about p {
  margin: 25px 0;
  text-align: justify;
}

/* =========== ACTIVITY SECTION =========== */
.activity-section {
  /* position: absolute; */
  background-color: var(--white-color);
  min-height: 85vh;
  text-align: center;
  overflow: hidden;
  max-width: 100% !important;
}

.activity-section .page-title {
  margin-top: 2rem;
  text-transform: uppercase;
}

.activity-section .page-title h1 {
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 700;
}

.activity-section .page-title h5 {
  font-weight: 700;
}

.activity-section .page-content {
  display: inline-block;
}

/* .activity-section:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--white-color));
} */

/* SLIDER */
.slider-section {
  position: absolute;
  height: 95vh;
  width: 90vw;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  inset: 10px 200px 10px 80px;
  /* background: #ccc; */
  border-radius: 20px;
}

.slider .slides {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 200px;
  height: 280px;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover;
}

.slider .slides:nth-child(3) {
  left: calc(25% + 400px);
  background-size: cover;
}

.slider .slides:nth-child(4) {
  left: calc(25% + 620px);
  background-size: cover;
}

.slider .slides:nth-child(5) {
  left: calc(25% + 840px);
  background-size: cover;
}

.slider .slides:nth-child(6) {
  left: calc(25% + 1060px);
  background-size: cover;
}

.slider-button {
  position: absolute;
  bottom: 110px;
  display: flex;
  gap: 20px;
}

.slider-button span {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #111;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.slider-button span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(315deg) translate(2px, 2px);
}

.slider-button span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}

.slider-button span:active {
  opacity: 0.5;
}

.slides-content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  z-index: 10000;
  opacity: 0;
}

.slides-content h2 {
  font-size: 4em;
  color: #fff;
  text-align: left;
}

.slides-content p {
  color: #fff;
  text-align: left;
}

.slider .slides:nth-child(1) .slides-content,
.slider .slides:nth-child(2) .slides-content {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.5s;
}

/* SLIDER RESPONSIVE */
@media (max-width: 900px) {
  .slider {
    position: absolute;
    inset: 0px 40px 300px 40px;
  }

  .slider .slides {
    width: 100px;
    height: 100px;
    top: initial;
    bottom: -170px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25px);
  }

  .slides-content h2 {
    font-size: 2em;
    color: #fff;
    text-align: left;
  }

  .slides-content p {
    color: #fff;
    font-size: 14px;
    text-align: left;
  }

  .slider .slides:nth-child(1),
  .slider .slides:nth-child(2) {
    top: initial;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .slider .slides:nth-child(3) {
    left: 0;
  }

  .slider .slides:nth-child(4) {
    left: 120px;
  }

  .slider .slides:nth-child(5) {
    left: 240px;
  }
}

/* END */

/* MENU LITS */
.menu-list {
  padding: 50px;
}

.menu-list span {
  text-transform: uppercase;
  font-weight: 700;
}

.menu-list .list {
  cursor: pointer;
}

.menu-list .list.list-active {
  background: var(--dark-color);
  color: var(--white-color);
}

.list-title-sm {
  display: none !important;
}

/* END MENU LIST */

/* FOOTER */
.footer {
  /* position: absolute; */
  min-height: 50vh;
  background: var(--navigation-background);
  padding: 0 20px;
}

.footer h4 {
  font-size: 1em;
  color: var(--white-color);
  font-weight: 600;
}

.footer hr {
  border: 2px solid var(--white-color);
  width: 90%;
}

.footer p {
  max-width: 80%;
  color: var(--white-color);
  font-weight: 300;
}

.footer a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 300;
}

.footer a:hover {
  text-decoration: underline;
  color: #282f4e;
  font-style: italic;
}

.footer .phone {
  margin-top: 13px;
  margin-bottom: 0px;
}

.footer .copyright {
  color: #c5c5c5;
  font-weight: 300;
  font-size: 0.7em;
  margin-top: 45px;
  margin-bottom: 20px;
}

.footer .icons {
  color: #c5c5c5;
  font-weight: 300;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* END FOOTER */

/* Media queries (max-width: 1100px) */
@media screen and (max-width: 1100px) {
  header .nav-bar {
    padding: 0 50px;
  }

  .section {
    padding: 25px 50px;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }

  .slider-section {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1500px) {
  /* Navigation */
  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active {
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a:hover {
    color: var(--white-color);
  }

  .navigation .nav-items a i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .slider-section {
    overflow: hidden;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /* Dropdown Menu */
  .dropdown-content {
    position: static;
    background-color: transparent;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    min-width: unset;
    width: 100%;
  }

  .dropdown-content a {
    color: var(--dark-color);
    padding: 8px 15px;
  }

  .dropdown-content a:hover {
    background-color: var(--navigation-background);
    color: var(--white-color);
  }
}

/* Media queries (max-width: 785px) */
@media screen and (max-width: 785px) {
  header .nav-bar {
    padding: 25px 20px;
  }

  .section {
    padding: 25px 20px;
  }

  .media-icons {
    margin-right: 20px;
  }

  .media-icons a {
    font-size: 1.5em;
  }

  .slider-section {
    overflow: hidden;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content .title span {
    font-size: 0.25em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }

  /* NAV */

  /* About section */
  .section.about {
    padding: 35px 10px;
  }

  .about h2 {
    font-size: 2em;
    text-align: center;
  }

  .about p {
    font-size: 0.9em;
  }

  /* Menu List */
  .list-title {
    display: none !important;
  }

  .list-title-sm {
    display: block !important;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer .copyright {
    font-size: 0.7em;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

  .footer .icons {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}
